body, h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}


a {
  text-decoration: none;
  color: rgb(87, 209, 105);
}


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}